@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: #0b0b0b;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.ibm-mono {
  font-family: "IBM Plex Mono", monospace;
}